body {
    width:500px;
    margin:10px;
}

.popup_buttons {
    text-decoration:none;
    background-color:#4c8ebf;
    color:#FFFFFF;
    padding:5px;
}

textarea {
    width:450px;
    height:150px;
}

#down_right_link {
    position:absolute;
    bottom:10px;
    right:10px;
}